In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
Trips_Jan = pd.read_csv("Trips_2018_01.csv")
Trips_Jan.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,196,1/1/18 0:01,1/1/18 0:05,315,South St & Gouverneur Ln,40.703554,-74.006702,259,South St & Whitehall St,40.701221,-74.012342,18534,Subscriber,1997,1
1,207,1/1/18 0:02,1/1/18 0:06,3224,W 13 St & Hudson St,40.739974,-74.005139,470,W 20 St & 8 Ave,40.743453,-74.000040,19651,Subscriber,1978,1
2,613,1/1/18 0:03,1/1/18 0:13,386,Centre St & Worth St,40.714948,-74.002345,2008,Little West St & 1 Pl,40.705693,-74.016777,21678,Subscriber,1982,1
3,375,1/1/18 0:06,1/1/18 0:12,466,W 25 St & 6 Ave,40.743954,-73.991449,325,E 19 St & 3 Ave,40.736245,-73.984738,29822,Subscriber,1982,1
4,402,1/1/18 0:06,1/1/18 0:13,438,St Marks Pl & 1 Ave,40.727791,-73.985649,380,W 4 St & 7 Ave S,40.734011,-74.002939,30722,Subscriber,1989,1

In [3]:
Trips_Jun = pd.read_csv("Trips_2018_06.csv")
Trips_Jun.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,388,6/1/18 0:00,6/1/18 0:06,495,W 47 St & 10 Ave,40.762699,-73.993012,495,W 47 St & 10 Ave,40.762699,-73.993012,33128,Subscriber,1971,1
1,291,6/1/18 0:00,6/1/18 0:04,472,E 32 St & Park Ave,40.745712,-73.981948,519,Pershing Square North,40.751873,-73.977706,21440,Subscriber,1967,2
2,546,6/1/18 0:00,6/1/18 0:09,504,1 Ave & E 16 St,40.732219,-73.981656,401,Allen St & Rivington St,40.720196,-73.989978,29195,Subscriber,1995,1
3,343,6/1/18 0:00,6/1/18 0:05,354,Emerson Pl & Myrtle Ave,40.693631,-73.962236,241,DeKalb Ave & S Portland Ave,40.689810,-73.974931,33304,Subscriber,1992,1
4,453,6/1/18 0:00,6/1/18 0:07,229,Great Jones St,40.727434,-73.993790,487,E 20 St & FDR Drive,40.733143,-73.975739,29713,Subscriber,1968,1

In [4]:
# Concatenate the dataframes so we have one dataset

frames = [Trips_Jan, Trips_Jun]
Summer_Winter_df = pd.concat(frames)
Summer_Winter_df.reset_index(inplace=True, drop=True)

In [5]:
Summer_Winter_df.iloc[1767568,1]
Summer_Winter_df.to_csv("Summer_Winter_df.csv")

In [6]:
# Basic Checks on the merged dataset
Summer_Winter_df.iloc[1200000:1200010]
len(Summer_Winter_df)
Summer_Winter_df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,1.767569e+06,1.767569e+06,1.767569e+06,1.767569e+06,1.767569e+06,1.767569e+06,1.767569e+06,1.767569e+06,1.767569e+06,1.767569e+06
mean,9.446590e+02,8.196523e+02,4.073451e+01,-7.398781e+01,1.275365e+03,4.073504e+01,-7.398681e+01,2.605199e+04,1.978446e+03,1.150480e+00
std,2.544435e+04,1.045009e+03,3.284703e-02,1.558006e-02,1.341143e+03,3.396819e-02,1.667675e-02,6.026387e+03,1.198470e+01,5.216748e-01
min,6.100000e+01,7.200000e+01,4.064654e+01,-7.401713e+01,7.200000e+01,4.064654e+01,-7.405570e+01,1.452900e+04,1.885000e+03,0.000000e+00
25%,3.550000e+02,3.200000e+02,4.071755e+01,-7.399810e+01,3.500000e+02,4.071850e+01,-7.399800e+01,1.997900e+04,1.969000e+03,1.000000e+00
50%,5.850000e+02,4.330000e+02,4.073532e+01,-7.398972e+01,4.770000e+02,4.073555e+01,-7.398911e+01,2.786300e+04,1.981000e+03,1.000000e+00
75%,1.000000e+03,5.000000e+02,4.075140e+01,-7.397992e+01,3.132000e+03,4.075187e+01,-7.397806e+01,3.127700e+04,1.988000e+03,1.000000e+00
max,1.951005e+07,3.664000e+03,4.550636e+01,-7.356891e+01,3.692000e+03,4.550636e+01,-7.356891e+01,3.369900e+04,2.002000e+03,2.000000e+00

In [7]:
#Create a variable for distance biked

Trip_distance = []

for x in range(len(Summer_Winter_df)):
    trip_hrs = Summer_Winter_df.iloc[x,0]/3600
    if (trip_hrs <= 2):
        Trip_distance.append(trip_hrs * 7.456)
    else:
        Trip_distance.append(14.9)

print(len(Trip_distance))

1767569

In [8]:
# Add distance biked to the DF, then group all by bikeid (in the month of June... our most recent month)
Summer_Winter_df["Distance"] = Trip_distance

June_df = Summer_Winter_df.iloc[718994:-1,:]

bikes = June_df.groupby(["bikeid"])
bikes = bikes["Distance"].sum()
bikes = pd.DataFrame(bikes)
bikes = bikes.sort_values("Distance", ascending=False)
bikes.head()
bikes.to_csv("Citi_Bikes.csv")

In [11]:
# Create a DF of distinct bike stations, where the columns are Popularity Start Station (Summer),
# End Station (Summer), Start Station (Winter), and End Station (Winter). 
# We will evenutally need id, name, latitude, and longitude here, then the four columns we've discussed

Station_df = pd.DataFrame(columns=['Station_ID','Station_name','Lat', 'Lng', 'Summer_Pop_Start', 'Summer_Pop_End', 
                                   'Summer_Dist', 'Winter_Pop_Start', 'Winter_Pop_End', 'Winter Dist'])

Start_Station_array = Summer_Winter_df["start station id"].unique()

Station_array = Start_Station_array.tolist()

#  Key columns... for start station (ID-3, Name-4, Lat-5, Lng-6), for end station (ID-7, Name-8, Lat-9, Lng-10)
for i in range(len(Summer_Winter_df)):
    EndStation = Summer_Winter_df.iloc[i, 7]
    if EndStation not in Station_array:
        Station_array.append(EndStation)

Start_Station_array = Start_Station_array.tolist()

Station_df["Station_ID"] = Station_array

for station in Station_df["Station_ID"]:
    if station in Start_Station_array: 
        info_row = Summer_Winter_df[Summer_Winter_df["start station id"]==station].iloc[0,:]
        Station_df.loc[Station_df["Station_ID"]==station, "Station_name"] = info_row[4]
        Station_df.loc[Station_df["Station_ID"]==station, "Lat"] = info_row[5]
        Station_df.loc[Station_df["Station_ID"]==station, "Lng"] = info_row[6]
    else:
        info_row = Summer_Winter_df[Summer_Winter_df["end station id"]==station].iloc[0,:]
        Station_df.loc[Station_df["Station_ID"]==station, "Station_name"] = info_row[8]
        Station_df.loc[Station_df["Station_ID"]==station, "Lat"] = info_row[9]
        Station_df.loc[Station_df["Station_ID"]==station, "Lng"] = info_row[10]
    
Station_df.head()

,Station_ID,Station_name,Lat,Lng,Summer_Pop_Start,Summer_Pop_End,Summer_Dist,Winter_Pop_Start,Winter_Pop_End,Winter Dist
0,315,South St & Gouverneur Ln,40.7036,-74.0067,NaN,NaN,NaN,NaN,NaN,NaN
1,3224,W 13 St & Hudson St,40.74,-74.0051,NaN,NaN,NaN,NaN,NaN,NaN
2,386,Centre St & Worth St,40.7149,-74.0023,NaN,NaN,NaN,NaN,NaN,NaN
3,466,W 25 St & 6 Ave,40.744,-73.9914,NaN,NaN,NaN,NaN,NaN,NaN
4,438,St Marks Pl & 1 Ave,40.7278,-73.9856,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Now that we have the dataframe set up with Station ID, Name, Lat and Lng, we need to do some counts

# IDEA: create a sliced dataframe with iloc="Station_ID", then take len of the sliced df and drop in.

for my_station in Station_df['Station_ID']:
    try:
        temp_df_WS = Trips_Jan.loc[Trips_Jan['start station id']==my_station,:]
        Station_df.loc[Station_df['Station_ID']==my_station,"Winter_Pop_Start"] = len(temp_df_WS)
    except: 
        Station_df.loc[Station_df['Station_ID']==my_station,"Winter_Pop_Start"] = 0
    try:
        temp_df_WE = Trips_Jan.loc[Trips_Jan['end station id']==my_station,:]
        Station_df.loc[Station_df['Station_ID']==my_station,"Winter_Pop_End"] = len(temp_df_WE)
    except:
        Station_df.loc[Station_df['Station_ID']==my_station,"Winter_Pop_End"] = 0
    try:
        temp_df_SS = Trips_Jun.loc[Trips_Jun['start station id']==my_station,:]
        Station_df.loc[Station_df['Station_ID']==my_station,"Summer_Pop_Start"] = len(temp_df_SS)
    except:
        Station_df.loc[Station_df['Station_ID']==my_station,"Summer_Pop_Start"] = 0
    try:
        temp_df_SE = Trips_Jun.loc[Trips_Jun['end station id']==my_station,:]
        Station_df.loc[Station_df['Station_ID']==my_station,"Summer_Pop_End"] = len(temp_df_SE)
    except:
        Station_df.loc[Station_df['Station_ID']==my_station,"Summer_Pop_End"] = 0
        
Station_df.head()

,Station_ID,Station_name,Lat,Lng,Summer_Pop_Start,Summer_Pop_End,Summer_Dist,Winter_Pop_Start,Winter_Pop_End,Winter Dist
0,315,South St & Gouverneur Ln,40.7036,-74.0067,6122,4497,NaN,1395,1478,NaN
1,3224,W 13 St & Hudson St,40.74,-74.0051,0,0,NaN,2108,2192,NaN
2,386,Centre St & Worth St,40.7149,-74.0023,2963,2212,NaN,1025,1022,NaN
3,466,W 25 St & 6 Ave,40.744,-73.9914,5913,4338,NaN,2472,2518,NaN
4,438,St Marks Pl & 1 Ave,40.7278,-73.9856,5548,4282,NaN,2287,2347,NaN

In [24]:
# Set up Trips Jan and Trips June with Trip Duration variables in minutes, then filter

# Trips_Jan.head()
# Trips_Jan["TD_Mins"] = Trips_Jan["tripduration"] / 60
# Trips_Jan.head()
print(f"Trips Jan length: {len(Trips_Jan)}")

# I AM FILTERING OUT TRIPS OVER 6 HOURS, I THINK THEY MESS WITH THE DATA AND COULD BE FLAWED (cuts 371 trips)

# Trips_Jan_filtered = Trips_Jan.loc[Trips_Jan['TD_Mins'] <= 360, :]
print(f"Trips Jan filtered length: {len(Trips_Jan_filtered)}")

# Trips_Jun["TD_Mins"] = Trips_Jun["tripduration"] / 60
print(f"Trips Jun length: {len(Trips_Jun)}")

# I AM FILTERING OUT TRIPS OVER 6 HOURS, I THINK THEY MESS WITH THE DATA AND COULD BE FLAWED (cuts 714 trips)

Trips_Jun_filtered = Trips_Jun.loc[Trips_Jun['TD_Mins'] <= 360, :]
print(f"Trips Jun filtered length: {len(Trips_Jun_filtered)}")

Trips Jan length: 718994
Trips Jan filtered length: 718623
Trips Jun length: 1048575
Trips Jun filtered length: 1047861

In [38]:
# Group Trips_Jan_filtered and Trips_Jun_filtered by start station id
station_group_winter = Trips_Jan_filtered.groupby(['start station id'])
station_group_winter = station_group_winter["TD_Mins"].mean()
station_group_winter = pd.DataFrame(station_group_winter)
station_group_winter.reset_index(drop=False, inplace=True)
station_group_winter.head()
print(f"Stations in Winter: {len(station_group_winter)}")

station_group_summer = Trips_Jun_filtered.groupby(['start station id'])
station_group_summer = station_group_summer["TD_Mins"].mean()
station_group_summer = pd.DataFrame(station_group_summer)
station_group_summer.reset_index(drop=False, inplace=True)
station_group_summer.head()
print(f"Stations in Summer: {len(station_group_summer)}")

Stations in Winter: 763

   start station id    TD_Mins
0                72  18.124828
1                79  14.718043
2                82  11.537958
3                83  14.135204
4               119  12.893552

In [61]:
# Now we need to read in the correct values into our stations dataframe

# my_station = 315
# winter_dist = station_group_winter[station_group_winter['start station id']==my_station].iloc[0,1]
# print(f"Winter Avg Distance, station 315: {winter_dist}")
# Station_df.loc[Station_df['Station_ID']==my_station,"Winter Dist"] = winter_dist
# Station_df.head()

for my_station in Station_df['Station_ID']:
    try:
        winter_dist = station_group_winter[station_group_winter['start station id']==my_station].iloc[0,1]
        Station_df.loc[Station_df['Station_ID']==my_station,"Winter Dist"] = winter_dist
    except:
        Station_df.loc[Station_df['Station_ID']==my_station,"Winter Dist"] = 'NaN'
    try:
        summer_dist = station_group_summer[station_group_summer['start station id']==my_station].iloc[0,1]
        Station_df.loc[Station_df['Station_ID']==my_station,"Summer_Dist"] = summer_dist
    except:
        Station_df.loc[Station_df['Station_ID']==my_station,"Summer_Dist"] = 'NaN'
        
Station_df.head(20)

,Station_ID,Station_name,Lat,Lng,Summer_Pop_Start,Summer_Pop_End,Summer_Dist,Winter_Pop_Start,Winter_Pop_End,Winter Dist
0,315,South St & Gouverneur Ln,40.7036,-74.0067,6122,4497,20.44,1395,1478,16.4664
1,3224,W 13 St & Hudson St,40.74,-74.0051,0,0,NaN,2108,2192,10.9995
2,386,Centre St & Worth St,40.7149,-74.0023,2963,2212,16.4209,1025,1022,12.0556
3,466,W 25 St & 6 Ave,40.744,-73.9914,5913,4338,12.2227,2472,2518,9.96675
4,438,St Marks Pl & 1 Ave,40.7278,-73.9856,5548,4282,12.7293,2287,2347,10.6059
5,453,W 22 St & 8 Ave,40.7448,-73.9992,8705,6662,12.2705,2428,2455,9.34594
6,3092,Berry St & N 8 St,40.719,-73.9585,0,878,NaN,944,931,8.4423
7,3534,Frederick Douglass Blvd & W 117 St,40.8052,-73.9547,0,285,NaN,573,583,12.9328
8,336,Sullivan St & Washington Sq,40.7305,-73.9991,4910,3763,13.3298,1928,1999,10.2562
9,319,Fulton St & Broadway,40.7111,-74.0094,4885,3635,16.2693,1563,1545,12.0147
10,507,E 25 St & 2 Ave,40.7391,-73.9797,5215,3573,12.9017,2345,2338,10.4613
11,483,E 12 St & 3 Ave,40.7322,-73.9889,5733,4403,11.7693,2521,2566,8.78364
12,3413,Wyckoff St & 3 Ave,40.6828,-73.9826,0,316,NaN,347,377,8.23103
13,146,Hudson St & Reade St,40.7163,-74.0091,3418,2576,14.0437,980,966,10.2989
14,308,St James Pl & Oliver St,40.7131,-73.9985,2479,1957,13.0564,999,1017,9.3652
15,3168,Central Park West & W 85 St,40.7847,-73.9696,0,931,NaN,1320,1366,13.7408
16,460,S 4 St & Wythe Ave,40.7129,-73.9659,4837,1408,14.58,1272,1175,11.1454
17,490,8 Ave & W 33 St,40.7516,-73.9939,10302,7026,14.4685,4281,4368,11.2067
18,501,FDR Drive & E 35 St,40.7442,-73.9712,5311,3710,17.6038,1566,1525,14.4603
19,353,S Portland Ave & Hanson Pl,40.6854,-73.9743,1301,569,12.2586,498,469,9.44384

In [62]:
Station_df.to_csv("Stations_sep_columns.csv")

# For our knowledge of how many stations ARE NOT INCLUDED in each category:
# Summer_Pop_Start: 549 
# Summer_Pop_End: 30
# Winter_Pop_Start: 37
# Winter_Pop_End: 32

In [63]:
# Noticed there are a lot of 0s (as in a given station wasn't used) for start stations in June 2018. I'm running the
# numbers in a different way below to see if that data is correct, and it seems like it is. 

# Very strange though, only 251 unique stations were used at the start of trips, but 770 at the end of trips,
# in June 2018. The June 2018 report says there were 739 active stations at the end of the month.

summer_starts = Trips_Jun["start station id"].unique()
print(len(summer_starts))
summer_ends = Trips_Jun["end station id"].unique()
print(len(summer_ends))
winter_starts = Trips_Jan["start station id"].unique()
print(len(winter_starts))
winter_ends = Trips_Jan["end station id"].unique()
print(len(winter_ends))

251
770
763
768

In [64]:
# Just a make-sure with one particular station

temp_df_SS = Trips_Jun.loc[Trips_Jun['start station id']==3684,:]
temp_df_SS

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender, TD_Mins]
Index: []

In [65]:
# In order for this to fit the data manipulation we need two rows for each station, a summer and a winter

Station_df.head()

,Station_ID,Station_name,Lat,Lng,Summer_Pop_Start,Summer_Pop_End,Summer_Dist,Winter_Pop_Start,Winter_Pop_End,Winter Dist
0,315,South St & Gouverneur Ln,40.7036,-74.0067,6122,4497,20.44,1395,1478,16.4664
1,3224,W 13 St & Hudson St,40.74,-74.0051,0,0,NaN,2108,2192,10.9995
2,386,Centre St & Worth St,40.7149,-74.0023,2963,2212,16.4209,1025,1022,12.0556
3,466,W 25 St & 6 Ave,40.744,-73.9914,5913,4338,12.2227,2472,2518,9.96675
4,438,St Marks Pl & 1 Ave,40.7278,-73.9856,5548,4282,12.7293,2287,2347,10.6059

In [67]:
# This creates an empty row between each row we have

zeros = np.where(np.empty_like(Station_df.values), 0, 0)
data = np.hstack([Station_df.values, zeros]).reshape(-1, Station_df.shape[1])
df_ordered = pd.DataFrame(data, columns=Station_df.columns)

df_ordered.head()

,Station_ID,Station_name,Lat,Lng,Summer_Pop_Start,Summer_Pop_End,Summer_Dist,Winter_Pop_Start,Winter_Pop_End,Winter Dist
0,315,South St & Gouverneur Ln,40.7036,-74.0067,6122,4497,20.44,1395,1478,16.4664
1,0,0,0,0,0,0,0,0,0,0
2,3224,W 13 St & Hudson St,40.74,-74.0051,0,0,NaN,2108,2192,10.9995
3,0,0,0,0,0,0,0,0,0,0
4,386,Centre St & Worth St,40.7149,-74.0023,2963,2212,16.4209,1025,1022,12.0556

In [68]:
for x in range(0,len(df_ordered)-1,2):
    df_ordered.iloc[x+1,0:4] = df_ordered.iloc[x,0:4]
    df_ordered.iloc[x+1,4] = df_ordered.iloc[x, 7]
    df_ordered.iloc[x+1,5] = df_ordered.iloc[x, 8]
    df_ordered.iloc[x+1,6] = df_ordered.iloc[x,9]

df_ordered

,Station_ID,Station_name,Lat,Lng,Summer_Pop_Start,Summer_Pop_End,Summer_Dist,Winter_Pop_Start,Winter_Pop_End,Winter Dist
0,315,South St & Gouverneur Ln,40.7036,-74.0067,6122,4497,20.44,1395,1478,16.4664
1,315,South St & Gouverneur Ln,40.7036,-74.0067,1395,1478,16.4664,0,0,0
2,3224,W 13 St & Hudson St,40.74,-74.0051,0,0,NaN,2108,2192,10.9995
3,3224,W 13 St & Hudson St,40.74,-74.0051,2108,2192,10.9995,0,0,0
4,386,Centre St & Worth St,40.7149,-74.0023,2963,2212,16.4209,1025,1022,12.0556
5,386,Centre St & Worth St,40.7149,-74.0023,1025,1022,12.0556,0,0,0
6,466,W 25 St & 6 Ave,40.744,-73.9914,5913,4338,12.2227,2472,2518,9.96675
7,466,W 25 St & 6 Ave,40.744,-73.9914,2472,2518,9.96675,0,0,0
8,438,St Marks Pl & 1 Ave,40.7278,-73.9856,5548,4282,12.7293,2287,2347,10.6059
9,438,St Marks Pl & 1 Ave,40.7278,-73.9856,2287,2347,10.6059,0,0,0
10,453,W 22 St & 8 Ave,40.7448,-73.9992,8705,6662,12.2705,2428,2455,9.34594
11,453,W 22 St & 8 Ave,40.7448,-73.9992,2428,2455,9.34594,0,0,0
12,3092,Berry St & N 8 St,40.719,-73.9585,0,878,NaN,944,931,8.4423
13,3092,Berry St & N 8 St,40.719,-73.9585,944,931,8.4423,0,0,0
14,3534,Frederick Douglass Blvd & W 117 St,40.8052,-73.9547,0,285,NaN,573,583,12.9328
15,3534,Frederick Douglass Blvd & W 117 St,40.8052,-73.9547,573,583,12.9328,0,0,0
16,336,Sullivan St & Washington Sq,40.7305,-73.9991,4910,3763,13.3298,1928,1999,10.2562
17,336,Sullivan St & Washington Sq,40.7305,-73.9991,1928,1999,10.2562,0,0,0
18,319,Fulton St & Broadway,40.7111,-74.0094,4885,3635,16.2693,1563,1545,12.0147
19,319,Fulton St & Broadway,40.7111,-74.0094,1563,1545,12.0147,0,0,0
20,507,E 25 St & 2 Ave,40.7391,-73.9797,5215,3573,12.9017,2345,2338,10.4613
21,507,E 25 St & 2 Ave,40.7391,-73.9797,2345,2338,10.4613,0,0,0
22,483,E 12 St & 3 Ave,40.7322,-73.9889,5733,4403,11.7693,2521,2566,8.78364
23,483,E 12 St & 3 Ave,40.7322,-73.9889,2521,2566,8.78364,0,0,0
24,3413,Wyckoff St & 3 Ave,40.6828,-73.9826,0,316,NaN,347,377,8.23103
25,3413,Wyckoff St & 3 Ave,40.6828,-73.9826,347,377,8.23103,0,0,0
26,146,Hudson St & Reade St,40.7163,-74.0091,3418,2576,14.0437,980,966,10.2989
27,146,Hudson St & Reade St,40.7163,-74.0091,980,966,10.2989,0,0,0
28,308,St James Pl & Oliver St,40.7131,-73.9985,2479,1957,13.0564,999,1017,9.3652
29,308,St James Pl & Oliver St,40.7131,-73.9985,999,1017,9.3652,0,0,0
...,...,...,...,...,...,...,...,...,...,...
1570,3182,Yankee Ferry Terminal,40.6869,-74.017,0,9,NaN,0,0,NaN
1571,3182,Yankee Ferry Terminal,40.6869,-74.017,0,0,NaN,0,0,0
1572,3608,5 St & 51 Ave,40.7424,-73.9566,0,23,NaN,0,0,NaN
1573,3608,5 St & 51 Ave,40.7424,-73.9566,0,0,NaN,0,0,0
1574,3214,Essex Light Rail,40.7128,-74.0365,0,1,NaN,0,0,NaN
1575,3214,Essex Light Rail,40.7128,-74.0365,0,0,NaN,0,0,0
1576,3198,Heights Elevator,40.7487,-74.0404,0,1,NaN,0,0,NaN
1577,3198,Heights Elevator,40.7487,-74.0404,0,0,NaN,0,0,0
1578,3199,Newport Pkwy,40.7287,-74.0321,0,1,NaN,0,0,NaN
1579,3199,Newport Pkwy,40.7287,-74.0321,0,0,NaN,0,0,0
1580,3276,Marin Light Rail,40.7146,-74.0428,0,4,NaN,0,0,NaN
1581,3276,Marin Light Rail,40.7146,-74.0428,0,0,NaN,0,0,0
1582,3479,Picnic Point,40.6851,-74.0254,0,8,NaN,0,0,NaN
1583,3479,Picnic Point,40.6851,-74.0254,0,0,NaN,0,0,0
1584,3267,Morris Canal,40.7124,-74.0385,0,2,NaN,0,0,NaN
1585,3267,Morris Canal,40.7124,-74.0385,0,0,NaN,0,0,0
1586,3192,Liberty Light Rail,40.7112,-74.0557,0,2,NaN,0,0,NaN
1587,3192,Liberty Light Rail,40.7112,-74.0557,0,0,NaN,0,0,0
1588,3687,E 33 St & 1 Ave,40.7432,-73.9745,0,1217,NaN,0,0,NaN
1589,3687,E 33 St & 1 Ave,40.7432,-73.9745,0,0,NaN,0,0,0
1590,3651,Bike Mechanics at Riis Room A,40.7252,-73.9747,0,1,NaN,0,0,NaN
1591,3651,Bike Mechanics at Riis Room A,40.7252,-73.9747,0,0,NaN,0,0,0
1592,3688,2 Ave & E 55 St,40.7579,-73.9664,0,277,NaN,0,0,NaN
1593,3688,2 Ave & E 55 St,40.7579,-73.9664,0,0,NaN,0,0,0
1594,3689,W 104 St & Amsterdam Ave,40.799,-73.9665,0,62,NaN,0,0,NaN
1595,3689,W 104 St & Amsterdam Ave,40.799,-73.9665,0,0,NaN,0,0,0
1596,3692,5 St & Market St,40.7,-73.9744,0,3,NaN,0,0,NaN
1597,3692,5 St & Market St,40.7,-73.9744,0,0,NaN,0,0,0
1598,3691,28 Ave & 44 St,40.7641,-73.9107,0,2,NaN,0,0,NaN
1599,3691,28 Ave & 44 St,40.7641,-73.9107,0,0,NaN,0,0,0

In [69]:
sum_wint = []

for x in range(len(df_ordered)):
    if x % 2 == 0:
        sum_wint.append("Summer")
    else:
        sum_wint.append("Winter")
print(sum_wint)

df_ordered["Season"] = sum_wint

df_ordered.head()

['Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter', 'Summer', 'Winter']

,Station_ID,Station_name,Lat,Lng,Summer_Pop_Start,Summer_Pop_End,Summer_Dist,Winter_Pop_Start,Winter_Pop_End,Winter Dist,Season
0,315,South St & Gouverneur Ln,40.7036,-74.0067,6122,4497,20.44,1395,1478,16.4664,Summer
1,315,South St & Gouverneur Ln,40.7036,-74.0067,1395,1478,16.4664,0,0,0,Winter
2,3224,W 13 St & Hudson St,40.74,-74.0051,0,0,NaN,2108,2192,10.9995,Summer
3,3224,W 13 St & Hudson St,40.74,-74.0051,2108,2192,10.9995,0,0,0,Winter
4,386,Centre St & Worth St,40.7149,-74.0023,2963,2212,16.4209,1025,1022,12.0556,Summer

In [71]:
# del df_ordered['Winter_Pop_Start']
# del df_ordered['Winter_Pop_End']
# del df_ordered['Winter Dist']
df_ordered = df_ordered.rename(columns={'Summer_Pop_Start':'Start', 'Summer_Pop_End': 'End', 'Summer_Dist': 'Distance'})
df_ordered.head()

,Station_ID,Station_name,Lat,Lng,Start,End,Distance,Season
0,315,South St & Gouverneur Ln,40.7036,-74.0067,6122,4497,20.44,Summer
1,315,South St & Gouverneur Ln,40.7036,-74.0067,1395,1478,16.4664,Winter
2,3224,W 13 St & Hudson St,40.74,-74.0051,0,0,NaN,Summer
3,3224,W 13 St & Hudson St,40.74,-74.0051,2108,2192,10.9995,Winter
4,386,Centre St & Worth St,40.7149,-74.0023,2963,2212,16.4209,Summer

In [72]:
df_ordered.to_csv("Ordered_Stations.csv")